@model MvcAnalisisArchivos.Models.DTO.UserLiveCycleDTO

@{
    ViewBag.Title = "mainMenu";
}

<h2>CAJERO AUTOMATICO</h2>

<div>
    <h4>Bienvenido, que desea realizar?</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>


    </dl>
</div>
<p>
    <button> @Html.ActionLink("Show Balance", "showBalance", new { id = Model.Id })</button>
    <button> @Html.ActionLink("Withdraw Money", "withdrawMoney", new { id = Model.Id })</button>
    <button> @Html.ActionLink("Exit", "LogIn") </button>
