@model MvcAnalisisArchivos.Models.DTO.UserLiveCycleDTO

@{
    ViewBag.Title = "showBalance";
}

<h2>CAJERO AUTOMATICO</h2>

<div>
    <h4>SU INFORMACION ES:</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.AccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.AccountNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Balance)
        </dd>

        <dt>
            <p>ATM BALANCE</p>


        </dt>

        <dd>

            @Html.DisplayFor(model => model.Atm.Balance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", "mainMenu", new { id = Model.Id })
</p>
